# Some general ignore patterns
build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/


#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/

#Eclipse
.metadata
local.properties
.externalToolBuilders


# OS-specific ignore patterns

#Linux
*~
# KDE
.directory

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# Miscellaneous
.mailmap
examples/client_win/bin/glut32.dll
examples/client_win/bin/FreeImage.dll
examples/client_win/bin/Zlib.dll
examples/client_win/bin/assimp.dll
examples/client_win/bin/client_debug.exe
examples/client_win/bin/client_debug.exp
examples/client_win/bin/client_debug.ilk
examples/client_win/bin/client_debug.lib
examples/client_win/bin/client_debug.pdb
examples/client_win/bin/fmodex.dll
examples/client_win/bin/fmodexL.dll
examples/client_win/bin/freetype.dll
examples/client_win/bin/imgui.ini
examples/client_win/bin/libeay32.dll
examples/client_win/bin/ssleay32.dll
examples/client_win/client.VC.db
examples/server_win/bin/FreeImage.dll
examples/server_win/bin/Zlib.dll
examples/server_win/bin/assimp.dll
examples/server_win/bin/fmodex.dll
examples/server_win/bin/fmodexL.dll
examples/server_win/bin/freetype.dll
examples/server_win/bin/glut32.dll
examples/server_win/bin/imgui.ini
examples/server_win/bin/libeay32.dll
examples/server_win/bin/server_debug.exe
examples/server_win/bin/server_debug.exp
examples/server_win/bin/server_debug.ilk
examples/server_win/bin/server_debug.lib
examples/server_win/bin/server_debug.pdb
examples/server_win/bin/ssleay32.dll
examples/server_win/server.VC.VC.opendb
examples/server_win/server.VC.db
examples/client_win/bin/client.exe
examples/client_win/bin/client.exp
examples/client_win/bin/client.lib
examples/client_win/bin/fmodex64.dll
examples/client_win/bin/fmodexL64.dll
examples/client_win/client.VC.VC.opendb
examples/server_win/bin/fmodex64.dll
examples/server_win/bin/fmodexL64.dll
examples/server_win/bin/server.exe
examples/server_win/bin/server.exp
examples/server_win/bin/server.lib
